<div class="edit-container">
    <p class="bold">Edit your data:</p>
    <form class="edit-form">
        <div class="form-group form-control-feedback edit-form-success"></div>
        <div class="form-group">
            <input class="form-control fullName" type="text" maxlength="100" placeholder="Full name">
            <div class="form-control-feedback form-control-error fullName-error"></div>
        </div>
        <div class="form-group">
            <input class="form-control password" type="password" maxlength="100" placeholder="New password">
            <div class="form-control-feedback form-control-error password-error"></div>
        </div>
        <button class="back-button" ui-sref="app">Back</button>
        <button type="submit">Edit</button>
    </form>
</div>